<label for="{{name}}">{{label}}</label>
<input 
    class="radio-button" 
    disabled={{isDisabled}} 
    id="{{name}}" 
    onclick={{action defaultAction}} 
    type="radio" 
    name={{name}} 
    checked={{checked}}
/>
